*
{
	padding: 0;
	margin: 0;
}

body
{
	position: relative;
}

/*.container
{
	height: 700px;
	width: 960px;
	background-color: black;
}*/

input
{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 5px;
	border: none;
	border-top: 1px dashed #d1d1d1;
	outline: none;
}

#user_list
{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 20%;
	background-color: #d1d1d1;
	font-size: 12px;
	font-family: Helvetica;
	padding: 0 10px 0 10px;
}

.user
{
	height: auto;
	padding-top: 30px;
}

.result
{
	width: 80%;
	height: 100%;
	background-color: #efefef;
	overflow: scroll;
	font-size: 12px;
	font-family: Helvetica;
	position: absolute;
	/*padding-top: 30px;*/
}

.result #daemon, .result #chat
{
	height: auto;
	padding-top: 30px;
}

#header
{
	position: absolute;
	z-index: 20;
	top:0;
	width: 100%;
	height: 30px;
	background-color: #ddd;
	/*padding: 5px;*/
}

#header ul
{
	padding: 5px;
}

#header ul li
{
	display: inline;
}

